// Typography start 
h1 {
    font-size: clamp(24px, 4.1vw, 52px);
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Gilroy';
    color: #121212;
    span {
        color: #FF4F47;
        display: inline-block;
    }
}

h2 {
    font-size: clamp(18px, 3.4vw, 46px);
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Gilroy';
}

h3 {
    font-size: clamp(15px, 1.4vw, 18px);
    line-height: 1.4;
    font-weight: 400;
}
p{
    font-size: clamp(16px, 1.8vw, 22px);
    line-height: 1.2;
    font-weight: 500;
}

// Typography end
